AppConfig/GMLSchemata/XPlanGML_4_0/XPlanGML_FPlan.xsd

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!--Erzeugt mit KIT (www.kit.edu) UmlToXmlTransformation-Software, Erstellungsdatum: 12.03.2014 14:24:24-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xplan="http://www.xplanung.de/xplangml/4/0" targetNamespace="http://www.xplanung.de/xplangml/4/0" xmlns:kit="http://www.kit.edu" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" version="4.0.2">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gmlProfile\gmlProfilexplan.xsd" />
  <include schemaLocation="XPlanGML_Basisschema.xsd" />
  <!--=========================================================================================-->
  <!--FP_Bereich-->
  <!--=========================================================================================-->
  <element name="FP_Bereich" type="xplan:FP_BereichType" substitutionGroup="xplan:XP_Bereich" />
  <complexType name="FP_BereichType">
    <annotation>
      <documentation>Diese Klasse modelliert einen Bereich eines Flächennutzungsplans.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:XP_BereichType">
        <sequence>
          <element name="versionBauNVO" minOccurs="0" type="xplan:XP_VersionBauNVO" />
          <element name="versionBauNVOText" minOccurs="0" type="string" />
          <element name="versionBauGB" minOccurs="0" type="date" />
          <element name="versionBauGBText" minOccurs="0" type="string" />
          <element name="gehoertZuPlan" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <gml:targetElement>xplan:FP_Plan</gml:targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="inhaltFPlan" minOccurs="0" maxOccurs="unbounded" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <gml:targetElement>xplan:FP_Objekt</gml:targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="rasterAenderung" minOccurs="0" maxOccurs="unbounded" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <gml:targetElement>xplan:FP_RasterplanAenderung</gml:targetElement>
              </appinfo>
            </annotation>
          </element>
          <element ref="xplan:_GenericApplicationPropertyOfFP_Bereich" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Bereich" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_Flaechenobjekt-->
  <!--=========================================================================================-->
  <element abstract="true" name="FP_Flaechenobjekt" type="xplan:FP_FlaechenobjektType" substitutionGroup="xplan:FP_Objekt" />
  <complexType abstract="true" name="FP_FlaechenobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Flächennutzungsplans mit flächenhaftem Raumbezug (eine Einzelfläche oder eine Menge von Flächen, die sich nicht überlappen dürfen).  Die von FP_Flaechenobjekt abgeleiteten Fachobjekte können sowohl als Flächenschlussobjekte als auch als Überlagerungsobjekte auftreten.</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <element name="flaechenschluss" type="boolean" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_Flaechenobjekt" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Flaechenobjekt" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_Flaechenschlussobjekt-->
  <!--=========================================================================================-->
  <element abstract="true" name="FP_Flaechenschlussobjekt" type="xplan:FP_FlaechenschlussobjektType" substitutionGroup="xplan:FP_Flaechenobjekt" />
  <complexType abstract="true" name="FP_FlaechenschlussobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Flächennutzungsplans mit flächenhaftem Raumbezug, die immer Flächenschlussobjekte sind.</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_FlaechenobjektType">
        <sequence>
          <element ref="xplan:_GenericApplicationPropertyOfFP_Flaechenschlussobjekt" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Flaechenschlussobjekt" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_Geometrieobjekt-->
  <!--=========================================================================================-->
  <element abstract="true" name="FP_Geometrieobjekt" type="xplan:FP_GeometrieobjektType" substitutionGroup="xplan:FP_Objekt" />
  <complexType abstract="true" name="FP_GeometrieobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Flächennutzungsplans mit variablem Raumbezug. Ein konkretes Objekt muss entweder punktförmigen, linienförmigen oder flächenhaften Raumbezug haben, gemischte Geometrie ist nicht zugelassen.</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <element name="flaechenschluss" minOccurs="0" type="boolean" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_Geometrieobjekt" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Geometrieobjekt" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_Linienobjekt-->
  <!--=========================================================================================-->
  <element abstract="true" name="FP_Linienobjekt" type="xplan:FP_LinienobjektType" substitutionGroup="xplan:FP_Objekt" />
  <complexType abstract="true" name="FP_LinienobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Flächennutzungsplans mit linienförmigem Raumbezug (eine einzelne zusammenhängende Kurve, die aus Linienstücken und Kreisbögen zusammengesetzt sein kann, oder eine Menge derartiger Kurven).
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_Linienobjekt" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Linienobjekt" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_Objekt-->
  <!--=========================================================================================-->
  <element abstract="true" name="FP_Objekt" type="xplan:FP_ObjektType" substitutionGroup="xplan:XP_Objekt" />
  <complexType abstract="true" name="FP_ObjektType">
    <annotation>
      <documentation>Basisklasse für alle Fachobjekte des Flächennutzungsplans.</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:XP_ObjektType">
        <sequence>
          <element name="rechtscharakter" minOccurs="0" type="xplan:FP_Rechtscharakter" />
          <element name="spezifischePraegung" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_SpezifischePraegungTypen</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="gehoertZuFP_Bereich" minOccurs="0" maxOccurs="unbounded" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <gml:targetElement>xplan:FP_Bereich</gml:targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="wirdAusgeglichenDurchFlaeche" minOccurs="0" maxOccurs="unbounded" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <gml:targetElement>xplan:FP_AusgleichsFlaeche</gml:targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="wirdAusgeglichenDurchSPE" minOccurs="0" maxOccurs="unbounded" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <gml:targetElement>xplan:FP_SchutzPflegeEntwicklung</gml:targetElement>
              </appinfo>
            </annotation>
          </element>
          <element ref="xplan:_GenericApplicationPropertyOfFP_Objekt" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Objekt" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_Plan-->
  <!--=========================================================================================-->
  <element name="FP_Plan" type="xplan:FP_PlanType" substitutionGroup="xplan:XP_Plan" />
  <complexType name="FP_PlanType">
    <annotation>
      <documentation>Klasse zur Modellierung eines gesamten Flächennutzungsplans.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:XP_PlanType">
        <sequence>
          <element name="gemeinde" maxOccurs="unbounded" type="xplan:XP_GemeindePropertyType" />
          <element name="plangeber" minOccurs="0" type="xplan:XP_PlangeberPropertyType" />
          <element name="planArt" minOccurs="0" type="xplan:FP_PlanArt" />
          <element name="sonstPlanArt" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_SonstPlanArt</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="verfahren" minOccurs="0" type="xplan:FP_Verfahren" />
          <element name="rechtsstand" minOccurs="0" type="xplan:FP_Rechtsstand" />
          <element name="status" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_Status</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="aufstellungsbeschlussDatum" minOccurs="0" type="date" />
          <element name="auslegungsStartDatum" minOccurs="0" type="date" />
          <element name="auslegungsEndDatum" minOccurs="0" type="date" />
          <element name="traegerbeteiligungsStartDatum" minOccurs="0" type="date" />
          <element name="traegerbeteiligungsEndDatum" minOccurs="0" type="date" />
          <element name="aenderungenBisDatum" minOccurs="0" type="date" />
          <element name="entwurfsbeschlussDatum" minOccurs="0" type="date" />
          <element name="planbeschlussDatum" minOccurs="0" type="date" />
          <element name="wirksamkeitsDatum" minOccurs="0" type="date" />
          <element name="refUmweltbericht" minOccurs="0" type="xplan:XP_ExterneReferenzPropertyType" />
          <element name="bereich" minOccurs="0" maxOccurs="unbounded" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <gml:targetElement>xplan:FP_Bereich</gml:targetElement>
              </appinfo>
            </annotation>
          </element>
          <element ref="xplan:_GenericApplicationPropertyOfFP_Plan" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Plan" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_PlanArt-->
  <!--=========================================================================================-->
  <simpleType name="FP_PlanArt">
    <annotation>
      <documentation>Aufzählung verschiedener Arten von Flächennutzungsplänen
</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <!--FPlan-->
      </enumeration>
      <enumeration value="2000">
        <!--GemeinsamerFPlan-->
      </enumeration>
      <enumeration value="3000">
        <!--RegFPlan-->
      </enumeration>
      <enumeration value="4000">
        <!--FPlanRegPlan-->
      </enumeration>
      <enumeration value="9999">
        <!--Sonstiges-->
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--FP_Punktobjekt-->
  <!--=========================================================================================-->
  <element abstract="true" name="FP_Punktobjekt" type="xplan:FP_PunktobjektType" substitutionGroup="xplan:FP_Objekt" />
  <complexType abstract="true" name="FP_PunktobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Flächennutzungsplans mit punktförmigem Raumbezug (Einzelpunkt oder Punktmenge).
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_Punktobjekt" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Punktobjekt" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_Rechtscharakter-->
  <!--=========================================================================================-->
  <simpleType name="FP_Rechtscharakter">
    <restriction base="string">
      <enumeration value="1000">
        <!--Darstellung-->
      </enumeration>
      <enumeration value="3000">
        <!--Hinweis-->
      </enumeration>
      <enumeration value="4000">
        <!--Vermerk-->
      </enumeration>
      <enumeration value="5000">
        <!--Kennzeichnung-->
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--FP_Rechtsstand-->
  <!--=========================================================================================-->
  <simpleType name="FP_Rechtsstand">
    <restriction base="string">
      <enumeration value="1000">
        <!--Aufstellungsbeschluss-->
      </enumeration>
      <enumeration value="2000">
        <!--Entwurf-->
      </enumeration>
      <enumeration value="2100">
        <!--FruehzeitigeBehoerdenBeteiligung-->
      </enumeration>
      <enumeration value="2200">
        <!--FruehzeitigeOeffentlichkeitsBeteiligung-->
      </enumeration>
      <enumeration value="2300">
        <!--BehoerdenBeteiligung-->
      </enumeration>
      <enumeration value="2400">
        <!--OeffentlicheAuslegung-->
      </enumeration>
      <enumeration value="3000">
        <!--Plan-->
      </enumeration>
      <enumeration value="4000">
        <!--Wirksamkeit-->
      </enumeration>
      <enumeration value="5000">
        <!--Untergegangen-->
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--FP_Ueberlagerungsobjekt-->
  <!--=========================================================================================-->
  <element abstract="true" name="FP_Ueberlagerungsobjekt" type="xplan:FP_UeberlagerungsobjektType" substitutionGroup="xplan:FP_Flaechenobjekt" />
  <complexType abstract="true" name="FP_UeberlagerungsobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Flächennutzungsplans mit flächenhaftem Raumbezug, die immer Überlagerungsobjekte sind.</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_FlaechenobjektType">
        <sequence>
          <element ref="xplan:_GenericApplicationPropertyOfFP_Ueberlagerungsobjekt" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Ueberlagerungsobjekt" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_Verfahren-->
  <!--=========================================================================================-->
  <simpleType name="FP_Verfahren">
    <restriction base="string">
      <enumeration value="1000">
        <!--Normal-->
      </enumeration>
      <enumeration value="2000">
        <!--Parag13-->
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--FP_AbgrabungsFlaeche-->
  <!--=========================================================================================-->
  <element name="FP_AbgrabungsFlaeche" type="xplan:FP_AbgrabungsFlaecheType" substitutionGroup="xplan:FP_Flaechenobjekt" />
  <complexType name="FP_AbgrabungsFlaecheType">
    <annotation>
      <documentation>Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§5, Abs. 2, Nr. 8 BauGB). Hier: Flächen für Abgrabungen
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_FlaechenobjektType">
        <sequence>
          <element ref="xplan:_GenericApplicationPropertyOfFP_AbgrabungsFlaeche" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_AbgrabungsFlaeche" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_AufschuettungsFlaeche-->
  <!--=========================================================================================-->
  <element name="FP_AufschuettungsFlaeche" type="xplan:FP_AufschuettungsFlaecheType" substitutionGroup="xplan:FP_Flaechenobjekt" />
  <complexType name="FP_AufschuettungsFlaecheType">
    <annotation>
      <documentation>Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§5, Abs. 2, Nr. 8 BauGB). Hier: Flächen für Aufschüttungen.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_FlaechenobjektType">
        <sequence>
          <element ref="xplan:_GenericApplicationPropertyOfFP_AufschuettungsFlaeche" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_AufschuettungsFlaeche" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_BodenschaetzeFlaeche-->
  <!--=========================================================================================-->
  <element name="FP_BodenschaetzeFlaeche" type="xplan:FP_BodenschaetzeFlaecheType" substitutionGroup="xplan:FP_Flaechenobjekt" />
  <complexType name="FP_BodenschaetzeFlaecheType">
    <annotation>
      <documentation>Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§5, Abs. 2, Nr. 8 BauGB. Hier: Flächen für Bodenschätze.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_FlaechenobjektType">
        <sequence>
          <element name="abbaugut" minOccurs="0" type="string" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_BodenschaetzeFlaeche" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_BodenschaetzeFlaeche" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_BebauungsFlaeche-->
  <!--=========================================================================================-->
  <element name="FP_BebauungsFlaeche" type="xplan:FP_BebauungsFlaecheType" substitutionGroup="xplan:FP_Flaechenschlussobjekt" />
  <complexType name="FP_BebauungsFlaecheType">
    <annotation>
      <documentation>Darstellung der für die Bebauung vorgesehenen Flächen (§5, Abs. 2, Nr. 1 BauGB).
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_FlaechenschlussobjektType">
        <sequence>
          <element name="GFZ" minOccurs="0" type="double" />
          <element name="GFZmin" minOccurs="0" type="double" />
          <element name="GFZmax" minOccurs="0" type="double" />
          <element name="BMZ" minOccurs="0" type="double" />
          <element name="GRZ" minOccurs="0" type="double" />
          <element name="allgArtDerBaulNutzung" minOccurs="0" type="xplan:XP_AllgArtDerBaulNutzung" />
          <element name="besondereArtDerBaulNutzung" minOccurs="0" type="xplan:XP_BesondereArtDerBaulNutzung" />
          <element name="sonderNutzung" minOccurs="0" type="xplan:XP_Sondernutzungen" />
          <element name="detaillierteArtDerBaulNutzung" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailArtDerBaulNutzung</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="nutzungText" minOccurs="0" type="string" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_BebauungsFlaeche" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_BebauungsFlaeche" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_KeineZentrAbwasserBeseitigungFlaeche-->
  <!--=========================================================================================-->
  <element name="FP_KeineZentrAbwasserBeseitigungFlaeche" type="xplan:FP_KeineZentrAbwasserBeseitigungFlaecheType" substitutionGroup="xplan:FP_Flaechenobjekt" />
  <complexType name="FP_KeineZentrAbwasserBeseitigungFlaecheType">
    <annotation>
      <documentation>Baufläche, für die eine zentrale Abwasserbeseitigung nicht vorgesehen ist (§5, Abs. 2, Nr. 1 BauGB).
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_FlaechenobjektType">
        <sequence>
          <element ref="xplan:_GenericApplicationPropertyOfFP_KeineZentrAbwasserBeseitigungFlaeche" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_KeineZentrAbwasserBeseitigungFlaeche" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_Gemeinbedarf-->
  <!--=========================================================================================-->
  <element name="FP_Gemeinbedarf" type="xplan:FP_GemeinbedarfType" substitutionGroup="xplan:FP_Geometrieobjekt" />
  <complexType name="FP_GemeinbedarfType">
    <annotation>
      <documentation>Darstellung von Flächen für den Gemeinbedarf nach §5,  Abs. 2, Nr. 2 BauGB.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_GeometrieobjektType">
        <sequence>
          <element name="zweckbestimmung" minOccurs="0" type="xplan:XP_ZweckbestimmungGemeinbedarf" />
          <element name="weitereZweckbestimmung1" minOccurs="0" type="xplan:XP_ZweckbestimmungGemeinbedarf" />
          <element name="weitereZweckbestimmung2" minOccurs="0" type="xplan:XP_ZweckbestimmungGemeinbedarf" />
          <element name="weitereZweckbestimmung3" minOccurs="0" type="xplan:XP_ZweckbestimmungGemeinbedarf" />
          <element name="weitereZweckbestimmung4" minOccurs="0" type="xplan:XP_ZweckbestimmungGemeinbedarf" />
          <element name="weitereZweckbestimmung5" minOccurs="0" type="xplan:XP_ZweckbestimmungGemeinbedarf" />
          <element name="besondereZweckbestimmung" minOccurs="0" type="xplan:XP_BesondereZweckbestGemeinbedarf" />
          <element name="weitereBesondZweckbestimmung1" minOccurs="0" type="xplan:XP_BesondereZweckbestGemeinbedarf" />
          <element name="weitereBesondZweckbestimmung2" minOccurs="0" type="xplan:XP_BesondereZweckbestGemeinbedarf" />
          <element name="weitereBesondZweckbestimmung3" minOccurs="0" type="xplan:XP_BesondereZweckbestGemeinbedarf" />
          <element name="weitereBesondZweckbestimmung4" minOccurs="0" type="xplan:XP_BesondereZweckbestGemeinbedarf" />
          <element name="weitereBesondZweckbestimmung5" minOccurs="0" type="xplan:XP_BesondereZweckbestGemeinbedarf" />
          <element name="detaillierteZweckbestimmung" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestGemeinbedarf</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung1" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestGemeinbedarf</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung2" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestGemeinbedarf</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung3" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestGemeinbedarf</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung4" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestGemeinbedarf</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung5" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestGemeinbedarf</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element ref="xplan:_GenericApplicationPropertyOfFP_Gemeinbedarf" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Gemeinbedarf" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_SpielSportanlage-->
  <!--=========================================================================================-->
  <element name="FP_SpielSportanlage" type="xplan:FP_SpielSportanlageType" substitutionGroup="xplan:FP_Geometrieobjekt" />
  <complexType name="FP_SpielSportanlageType">
    <annotation>
      <documentation>Darstellung von Flächen für Spiel- und Sportanlagen nach §5,  Abs. 2, Nr. 2 BauGB.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_GeometrieobjektType">
        <sequence>
          <element name="zweckbestimmung" minOccurs="0" type="xplan:XP_ZweckbestimmungSpielSportanlage" />
          <element name="weitereZweckbestimmung1" minOccurs="0" type="xplan:XP_ZweckbestimmungSpielSportanlage" />
          <element name="detaillierteZweckbestimmung" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestSpielSportanlage</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung1" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestSpielSportanlage</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element ref="xplan:_GenericApplicationPropertyOfFP_SpielSportanlage" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_SpielSportanlage" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_Gruen-->
  <!--=========================================================================================-->
  <element name="FP_Gruen" type="xplan:FP_GruenType" substitutionGroup="xplan:FP_Geometrieobjekt" />
  <complexType name="FP_GruenType">
    <annotation>
      <documentation>Darstellung einer Grünfläche nach §5, Abs. 2, Nr. 5 BauGB,
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_GeometrieobjektType">
        <sequence>
          <element name="zweckbestimmung" minOccurs="0" type="xplan:XP_ZweckbestimmungGruen" />
          <element name="weitereZweckbestimmung1" minOccurs="0" type="xplan:XP_ZweckbestimmungGruen" />
          <element name="weitereZweckbestimmung2" minOccurs="0" type="xplan:XP_ZweckbestimmungGruen" />
          <element name="weitereZweckbestimmung3" minOccurs="0" type="xplan:XP_ZweckbestimmungGruen" />
          <element name="weitereZweckbestimmung4" minOccurs="0" type="xplan:XP_ZweckbestimmungGruen" />
          <element name="weitereZweckbestimmung5" minOccurs="0" type="xplan:XP_ZweckbestimmungGruen" />
          <element name="besondereZweckbestimmung" minOccurs="0" type="xplan:XP_BesondereZweckbestimmungGruen" />
          <element name="weitereBesondZweckbestimmung1" minOccurs="0" type="xplan:XP_BesondereZweckbestimmungGruen" />
          <element name="weitereBesondZweckbestimmung2" minOccurs="0" type="xplan:XP_BesondereZweckbestimmungGruen" />
          <element name="weitereBesondZweckbestimmung3" minOccurs="0" type="xplan:XP_BesondereZweckbestimmungGruen" />
          <element name="weitereBesondZweckbestimmung4" minOccurs="0" type="xplan:XP_BesondereZweckbestimmungGruen" />
          <element name="weitereBesondZweckbestimmung5" minOccurs="0" type="xplan:XP_BesondereZweckbestimmungGruen" />
          <element name="detaillierteZweckbestimmung" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestGruen</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung1" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestGruen</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung2" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestGruen</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung3" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestGruen</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung4" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestGruen</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung5" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestGruen</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="nutzungsform" minOccurs="0" type="xplan:XP_Nutzungsform" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_Gruen" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Gruen" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_LandwirtschaftsFlaeche-->
  <!--=========================================================================================-->
  <element name="FP_LandwirtschaftsFlaeche" type="xplan:FP_LandwirtschaftsFlaecheType" substitutionGroup="xplan:FP_Flaechenschlussobjekt" />
  <complexType name="FP_LandwirtschaftsFlaecheType">
    <annotation>
      <documentation>Darstellung einer Landwirtschaftsfläche nach §5, Abs. 2, Nr. 9a.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_FlaechenschlussobjektType">
        <sequence>
          <element name="weitereZweckbestimmung2" minOccurs="0" type="xplan:XP_ZweckbestimmungLandwirtschaft" />
          <element name="weitereZweckbestimmung3" minOccurs="0" type="xplan:XP_ZweckbestimmungLandwirtschaft" />
          <element name="detaillierteZweckbestimmung" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestLandwirtschaftsFlaeche</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung1" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestLandwirtschaftsFlaeche</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung2" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestLandwirtschaftsFlaeche</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung3" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestLandwirtschaftsFlaeche</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="zweckbestimmung" minOccurs="0" type="xplan:XP_ZweckbestimmungLandwirtschaft" />
          <element name="weitereZweckbestimmung1" minOccurs="0" type="xplan:XP_ZweckbestimmungLandwirtschaft" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_LandwirtschaftsFlaeche" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_LandwirtschaftsFlaeche" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_WaldFlaeche-->
  <!--=========================================================================================-->
  <element name="FP_WaldFlaeche" type="xplan:FP_WaldFlaecheType" substitutionGroup="xplan:FP_Flaechenschlussobjekt" />
  <complexType name="FP_WaldFlaecheType">
    <annotation>
      <documentation>Darstellung von Waldflächen nach §5, Abs. 2, Nr. 9b,
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_FlaechenschlussobjektType">
        <sequence>
          <element name="zweckbestimmung" minOccurs="0" type="xplan:XP_ZweckbestimmungWald" />
          <element name="weitereZweckbestimmung1" minOccurs="0" type="xplan:XP_ZweckbestimmungWald" />
          <element name="weitereZweckbestimmung2" minOccurs="0" type="xplan:XP_ZweckbestimmungWald" />
          <element name="detaillierteZweckbestimmung" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestWaldFlaeche</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung1" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestWaldFlaeche</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung2" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestWaldFlaeche</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element ref="xplan:_GenericApplicationPropertyOfFP_WaldFlaeche" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_WaldFlaeche" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_AusgleichsFlaeche-->
  <!--=========================================================================================-->
  <element name="FP_AusgleichsFlaeche" type="xplan:FP_AusgleichsFlaecheType" substitutionGroup="xplan:FP_Flaechenobjekt" />
  <complexType name="FP_AusgleichsFlaecheType">
    <annotation>
      <documentation>Flächen und Maßnahmen zum Ausgleich gemäß §5, Abs. 2a  BauBG.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_FlaechenobjektType">
        <sequence>
          <element name="refMassnahmenText" minOccurs="0" type="xplan:XP_ExterneReferenzPropertyType" />
          <element name="refLandschaftsplan" minOccurs="0" type="xplan:XP_ExterneReferenzPropertyType" />
          <element name="ziel" minOccurs="0" type="xplan:XP_SPEZiele" />
          <element name="massnahme" minOccurs="0" type="xplan:XP_SPEMassnahmenDatenPropertyType" />
          <element name="weitereMassnahme1" minOccurs="0" type="xplan:XP_SPEMassnahmenDatenPropertyType" />
          <element name="weitereMassnahme2" minOccurs="0" type="xplan:XP_SPEMassnahmenDatenPropertyType" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_AusgleichsFlaeche" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_AusgleichsFlaeche" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_SchutzPflegeEntwicklung-->
  <!--=========================================================================================-->
  <element name="FP_SchutzPflegeEntwicklung" type="xplan:FP_SchutzPflegeEntwicklungType" substitutionGroup="xplan:FP_Geometrieobjekt" />
  <complexType name="FP_SchutzPflegeEntwicklungType">
    <annotation>
      <documentation>Umgrenzung von Flächen für Maßnahmen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft (§5 Abs. 2, Nr. 10 BauGB)</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_GeometrieobjektType">
        <sequence>
          <element name="ziel" minOccurs="0" type="xplan:XP_SPEZiele" />
          <element name="massnahme" minOccurs="0" type="xplan:XP_SPEMassnahmenDatenPropertyType" />
          <element name="weitereMassnahme1" minOccurs="0" type="xplan:XP_SPEMassnahmenDatenPropertyType" />
          <element name="weitereMassnahme2" minOccurs="0" type="xplan:XP_SPEMassnahmenDatenPropertyType" />
          <element name="istAusgleich" minOccurs="0" type="boolean" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_SchutzPflegeEntwicklung" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_SchutzPflegeEntwicklung" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_RasterplanAenderung-->
  <!--=========================================================================================-->
  <element name="FP_RasterplanAenderung" type="xplan:FP_RasterplanAenderungType" substitutionGroup="xplan:XP_RasterplanAenderung" />
  <complexType name="FP_RasterplanAenderungType">
    <annotation>
      <documentation>Georeferenziertes Rasterbild der Änderung eines Basisplans. Die abgeleitete Klasse besitzt Datums-Attribute, die spezifisch für Flächennutzungspläne sind.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:XP_RasterplanAenderungType">
        <sequence>
          <element name="aufstellungbeschlussDatum" minOccurs="0" type="date" />
          <element name="auslegungsStartDatum" minOccurs="0" maxOccurs="unbounded" type="date" />
          <element name="auslegungsEndDatum" minOccurs="0" maxOccurs="unbounded" type="date" />
          <element name="traegerbeteiligungsStartDatum" minOccurs="0" maxOccurs="unbounded" type="date" />
          <element name="traegerbeteiligungsEndDatum" minOccurs="0" maxOccurs="unbounded" type="date" />
          <element name="aenderungenBisDatum" minOccurs="0" type="date" />
          <element name="entwurfsbeschlussDatum" minOccurs="0" type="date" />
          <element name="planbeschlussDatum" minOccurs="0" type="date" />
          <element name="wirksamkeitsDatum" minOccurs="0" type="date" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_RasterplanAenderung" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_RasterplanAenderung" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_BesondZweckbestPrivilegiertesVorhaben-->
  <!--=========================================================================================-->
  <simpleType name="FP_BesondZweckbestPrivilegiertesVorhaben">
    <restriction base="string">
      <enumeration value="10000">
        <!--Aussiedlerhof-->
      </enumeration>
      <enumeration value="10001">
        <!--Altenteil-->
      </enumeration>
      <enumeration value="10002">
        <!--Reiterhof-->
      </enumeration>
      <enumeration value="10003">
        <!--Gartenbaubetrieb-->
      </enumeration>
      <enumeration value="10004">
        <!--Baumschule-->
      </enumeration>
      <enumeration value="12000">
        <!--Wasser-->
      </enumeration>
      <enumeration value="12001">
        <!--Gas-->
      </enumeration>
      <enumeration value="12002">
        <!--Waerme-->
      </enumeration>
      <enumeration value="12003">
        <!--Elektrizitaet-->
      </enumeration>
      <enumeration value="12004">
        <!--Telekommunikation-->
      </enumeration>
      <enumeration value="12005">
        <!--Abwasser-->
      </enumeration>
      <enumeration value="16000">
        <!--BesondereUmgebungsAnforderung-->
      </enumeration>
      <enumeration value="16001">
        <!--NachteiligeUmgebungsWirkung-->
      </enumeration>
      <enumeration value="16002">
        <!--BesondereZweckbestimmung-->
      </enumeration>
      <enumeration value="18000">
        <!--Windenergie-->
      </enumeration>
      <enumeration value="18001">
        <!--Wasserenergie-->
      </enumeration>
      <enumeration value="18002">
        <!--Solarenergie-->
      </enumeration>
      <enumeration value="18003">
        <!--Biomasse-->
      </enumeration>
      <enumeration value="20000">
        <!--NutzungKernerergie-->
      </enumeration>
      <enumeration value="20001">
        <!--EntsorgungRadioaktiveAbfaelle-->
      </enumeration>
      <enumeration value="99990">
        <!--StandortEinzelhof-->
      </enumeration>
      <enumeration value="99991">
        <!--BebauteFlaecheAussenbereich-->
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--FP_GenerischesObjekt-->
  <!--=========================================================================================-->
  <element name="FP_GenerischesObjekt" type="xplan:FP_GenerischesObjektType" substitutionGroup="xplan:FP_Geometrieobjekt" />
  <complexType name="FP_GenerischesObjektType">
    <annotation>
      <documentation>Klasse zur Modellierung aller Inhalte des FPlans, die keine nachrichtliche Übernahmen aus anderen Rechts-bereichen sind, aber durch keine andere Klasse des FPlan-Fachschemas dargestellt werden können.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_GeometrieobjektType">
        <sequence>
          <element name="zweckbestimmung" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_ZweckbestimmungGenerischeObjekte</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereZweckbestimmung1" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_ZweckbestimmungGenerischeObjekte</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereZweckbestimmung2" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_ZweckbestimmungGenerischeObjekte</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereZweckbestimmung3" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_ZweckbestimmungGenerischeObjekte</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element ref="xplan:_GenericApplicationPropertyOfFP_GenerischesObjekt" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_GenerischesObjekt" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_Kennzeichnung-->
  <!--=========================================================================================-->
  <element name="FP_Kennzeichnung" type="xplan:FP_KennzeichnungType" substitutionGroup="xplan:FP_Geometrieobjekt" />
  <complexType name="FP_KennzeichnungType">
    <annotation>
      <documentation>Kennzeichnungen gemäß §5 Abs. 3 BauGB.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_GeometrieobjektType">
        <sequence>
          <element name="zweckbestimmung" minOccurs="0" type="xplan:XP_ZweckbestimmungKennzeichnung" />
          <element name="weitereZweckbestimmung1" minOccurs="0" type="xplan:XP_ZweckbestimmungKennzeichnung" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_Kennzeichnung" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Kennzeichnung" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_NutzungsbeschraenkungsFlaeche-->
  <!--=========================================================================================-->
  <element name="FP_NutzungsbeschraenkungsFlaeche" type="xplan:FP_NutzungsbeschraenkungsFlaecheType" substitutionGroup="xplan:FP_Ueberlagerungsobjekt" />
  <complexType name="FP_NutzungsbeschraenkungsFlaecheType">
    <annotation>
      <documentation>Umgrenzungen der Flächen für besondere Anlagen und Vorkehrungen zum Schutz vor schädlichen Umwelteinwirkungen im Sinne des Bundes-
Immissionsschutzgesetzes (§ 5, Abs. 2, Nr. 6 BauGB)
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_UeberlagerungsobjektType">
        <sequence>
          <element ref="xplan:_GenericApplicationPropertyOfFP_NutzungsbeschraenkungsFlaeche" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_NutzungsbeschraenkungsFlaeche" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_PrivilegiertesVorhaben-->
  <!--=========================================================================================-->
  <element name="FP_PrivilegiertesVorhaben" type="xplan:FP_PrivilegiertesVorhabenType" substitutionGroup="xplan:FP_Geometrieobjekt" />
  <complexType name="FP_PrivilegiertesVorhabenType">
    <annotation>
      <documentation>Standorte für privilegierte Außenbereichsvorhaben und für sonstige Anlagen in Außenbereichen gem. § 35 Abs. 1 und 2 BauGB.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_GeometrieobjektType">
        <sequence>
          <element name="zweckbestimmung" minOccurs="0" type="xplan:FP_ZweckbestimmungPrivilegiertesVorhaben" />
          <element name="weitereZweckbestimmung1" minOccurs="0" type="xplan:FP_ZweckbestimmungPrivilegiertesVorhaben" />
          <element name="weitereZweckbestimmung2" minOccurs="0" type="xplan:FP_ZweckbestimmungPrivilegiertesVorhaben" />
          <element name="besondereZweckbestimmung" minOccurs="0" type="xplan:FP_BesondZweckbestPrivilegiertesVorhaben" />
          <element name="weitereBesondZweckbestimmung1" minOccurs="0" type="xplan:FP_BesondZweckbestPrivilegiertesVorhaben" />
          <element name="weitereBesondZweckbestimmung2" minOccurs="0" type="xplan:FP_BesondZweckbestPrivilegiertesVorhaben" />
          <element name="vorhaben" minOccurs="0" type="string" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_PrivilegiertesVorhaben" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_PrivilegiertesVorhaben" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_TextlicheDarstellungsFlaeche-->
  <!--=========================================================================================-->
  <element name="FP_TextlicheDarstellungsFlaeche" type="xplan:FP_TextlicheDarstellungsFlaecheType" substitutionGroup="xplan:FP_Ueberlagerungsobjekt" />
  <complexType name="FP_TextlicheDarstellungsFlaecheType">
    <annotation>
      <documentation>Bereich in dem bestimmte Textliche Darstellungen gültig sind, die über die Relation "refTextInhalt" (Basisklasse XP_Objekt) spezifiziert werden.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_UeberlagerungsobjektType">
        <sequence>
          <element ref="xplan:_GenericApplicationPropertyOfFP_TextlicheDarstellungsFlaeche" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_TextlicheDarstellungsFlaeche" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_UnverbindlicheVormerkung-->
  <!--=========================================================================================-->
  <element name="FP_UnverbindlicheVormerkung" type="xplan:FP_UnverbindlicheVormerkungType" substitutionGroup="xplan:FP_Geometrieobjekt" />
  <complexType name="FP_UnverbindlicheVormerkungType">
    <annotation>
      <documentation>Unverbindliche Vormerkung späterer Planungsabsichten
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_GeometrieobjektType">
        <sequence>
          <element name="vormerkung" minOccurs="0" type="string" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_UnverbindlicheVormerkung" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_UnverbindlicheVormerkung" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_VorbehalteFlaeche-->
  <!--=========================================================================================-->
  <element name="FP_VorbehalteFlaeche" type="xplan:FP_VorbehalteFlaecheType" substitutionGroup="xplan:FP_Flaechenobjekt" />
  <complexType name="FP_VorbehalteFlaecheType">
    <complexContent>
      <extension base="xplan:FP_FlaechenobjektType">
        <sequence>
          <element name="vorbehalt" minOccurs="0" type="string" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_VorbehalteFlaeche" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_VorbehalteFlaeche" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_ZweckbestimmungPrivilegiertesVorhaben-->
  <!--=========================================================================================-->
  <simpleType name="FP_ZweckbestimmungPrivilegiertesVorhaben">
    <restriction base="string">
      <enumeration value="1000">
        <!--LandForstwirtschaft-->
      </enumeration>
      <enumeration value="1200">
        <!--OeffentlicheVersorgung-->
      </enumeration>
      <enumeration value="1400">
        <!--OrtsgebundenerGewerbebetrieb-->
      </enumeration>
      <enumeration value="1600">
        <!--BesonderesVorhaben-->
      </enumeration>
      <enumeration value="1800">
        <!--ErneuerbareEnergie-->
      </enumeration>
      <enumeration value="2000">
        <!--Kernenergie-->
      </enumeration>
      <enumeration value="9999">
        <!--Sonstiges-->
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--FP_VerEntsorgung-->
  <!--=========================================================================================-->
  <element name="FP_VerEntsorgung" type="xplan:FP_VerEntsorgungType" substitutionGroup="xplan:FP_Geometrieobjekt" />
  <complexType name="FP_VerEntsorgungType">
    <annotation>
      <documentation>Flächen für Versorgungsanlagen, für die Abfallentsorgung und Abwasserbeseitigung sowie für Ablagerungen (§5, Abs. 2, Nr. 4 BauGB).</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_GeometrieobjektType">
        <sequence>
          <element name="zweckbestimmung" minOccurs="0" type="xplan:XP_ZweckbestimmungVerEntsorgung" />
          <element name="weitereZweckbestimmung1" minOccurs="0" type="xplan:XP_ZweckbestimmungVerEntsorgung" />
          <element name="weitereZweckbestimmung2" minOccurs="0" type="xplan:XP_ZweckbestimmungVerEntsorgung" />
          <element name="weitereZweckbestimmung3" minOccurs="0" type="xplan:XP_ZweckbestimmungVerEntsorgung" />
          <element name="besondereZweckbestimmung" minOccurs="0" type="xplan:XP_BesondereZweckbestimmungVerEntsorgung" />
          <element name="weitereBesondZweckbestimmung1" minOccurs="0" type="xplan:XP_BesondereZweckbestimmungVerEntsorgung" />
          <element name="weitereBesondZweckbestimmung2" minOccurs="0" type="xplan:XP_BesondereZweckbestimmungVerEntsorgung" />
          <element name="weitereBesondZweckbestimmung3" minOccurs="0" type="xplan:XP_BesondereZweckbestimmungVerEntsorgung" />
          <element name="detaillierteZweckbestimmung" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestVerEntsorgung</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung1" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestVerEntsorgung</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung2" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestVerEntsorgung</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="weitereDetailZweckbestimmung3" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestVerEntsorgung</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="textlicheErgaenzung" minOccurs="0" type="string" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_VerEntsorgung" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_VerEntsorgung" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_BesondereZweckbestimmungStrassenverkehr-->
  <!--=========================================================================================-->
  <simpleType name="FP_BesondereZweckbestimmungStrassenverkehr">
    <restriction base="string">
      <enumeration value="14000">
        <!--VerkehrsberuhigterBereich-->
      </enumeration>
      <enumeration value="14001">
        <!--Platz-->
      </enumeration>
      <enumeration value="14002">
        <!--Fussgaengerbereich-->
      </enumeration>
      <enumeration value="14003">
        <!--RadFussweg-->
      </enumeration>
      <enumeration value="14004">
        <!--Radweg-->
      </enumeration>
      <enumeration value="14005">
        <!--Fussweg-->
      </enumeration>
      <enumeration value="14006">
        <!--Wanderweg-->
      </enumeration>
      <enumeration value="14007">
        <!--ReitKutschweg-->
      </enumeration>
      <enumeration value="14008">
        <!--Rastanlage-->
      </enumeration>
      <enumeration value="14009">
        <!--Busbahnhof-->
      </enumeration>
      <enumeration value="14010">
        <!--UeberfuehrenderVerkehrsweg-->
      </enumeration>
      <enumeration value="14011">
        <!--UnterfuehrenderVerkehrsweg-->
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--FP_Strassenverkehr-->
  <!--=========================================================================================-->
  <element name="FP_Strassenverkehr" type="xplan:FP_StrassenverkehrType" substitutionGroup="xplan:FP_Geometrieobjekt" />
  <complexType name="FP_StrassenverkehrType">
    <annotation>
      <documentation>Darstellung von Flächen für den überörtlichen Verkehr und für die örtlichen Hauptverkehrszüge ( §5, Abs. 2, Nr. 3 BauGB).
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_GeometrieobjektType">
        <sequence>
          <element name="zweckbestimmung" minOccurs="0" type="xplan:FP_ZweckbestimmungStrassenverkehr" />
          <element name="besondereZweckbestimmung" minOccurs="0" type="xplan:FP_BesondereZweckbestimmungStrassenverkehr" />
          <element name="detaillierteZweckbestimmung" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestStrassenverkehr</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element name="nutzungsform" minOccurs="0" type="xplan:XP_Nutzungsform" />
          <element ref="xplan:_GenericApplicationPropertyOfFP_Strassenverkehr" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Strassenverkehr" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_ZweckbestimmungStrassenverkehr-->
  <!--=========================================================================================-->
  <simpleType name="FP_ZweckbestimmungStrassenverkehr">
    <restriction base="string">
      <enumeration value="1000">
        <!--Autobahn-->
      </enumeration>
      <enumeration value="1200">
        <!--Hauptverkehrsstrasse-->
      </enumeration>
      <enumeration value="1400">
        <!--SonstigerVerkehrswegAnlage-->
      </enumeration>
      <enumeration value="1600">
        <!--RuhenderVerkehr-->
      </enumeration>
      <enumeration value="9999">
        <!--Sonstiges-->
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--FP_Gewaesser-->
  <!--=========================================================================================-->
  <element name="FP_Gewaesser" type="xplan:FP_GewaesserType" substitutionGroup="xplan:FP_Geometrieobjekt" />
  <complexType name="FP_GewaesserType">
    <annotation>
      <documentation>Darstellung von Wasserflächen nach §5, Abs. 2, Nr. 7 BauGB.
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_GeometrieobjektType">
        <sequence>
          <element name="zweckbestimmung" minOccurs="0" type="xplan:XP_ZweckbestimmungGewaesser" />
          <element name="detaillierteZweckbestimmung" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestGewaesser</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element ref="xplan:_GenericApplicationPropertyOfFP_Gewaesser" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Gewaesser" type="anyType" abstract="true" />
  <!--=========================================================================================-->
  <!--FP_Wasserwirtschaft-->
  <!--=========================================================================================-->
  <element name="FP_Wasserwirtschaft" type="xplan:FP_WasserwirtschaftType" substitutionGroup="xplan:FP_Geometrieobjekt" />
  <complexType name="FP_WasserwirtschaftType">
    <annotation>
      <documentation>Flächen für den vorbeugenden Hochwassersachutz  (§5, Abs. 2, Nr. 7 BauGB)
</documentation>
    </annotation>
    <complexContent>
      <extension base="xplan:FP_GeometrieobjektType">
        <sequence>
          <element name="zweckbestimmung" minOccurs="0" type="xplan:XP_ZweckbestimmungWasserwirtschaft" />
          <element name="detaillierteZweckbestimmung" minOccurs="0" type="gml:CodeType">
            <annotation>
              <appinfo>
                <kit:referenzierteCodelist>xplan:FP_DetailZweckbestWasserwirtschaft</kit:referenzierteCodelist>
              </appinfo>
            </annotation>
          </element>
          <element ref="xplan:_GenericApplicationPropertyOfFP_Wasserwirtschaft" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfFP_Wasserwirtschaft" type="anyType" abstract="true" />
</schema>